<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="nexus3-hosted" value="http://localhost:8081/repository/nuget-hosted-x/" />
        <add key="nexus3-group" value="http://localhost:8081/repository/nuget-group-x/" />
    </packageSources>
</configuration>
